{{- range .Blocks -}}
	{{- if eq .Kind "paragraph" -}}
		{{- paragraph .Text  -}}
	{{- else if eq .Kind "code" -}}
		{{- codeBlock "" .Text -}}
	{{- else if eq .Kind "header" -}}
		{{- header (add .Level 1) .Text -}}
	{{- end -}}
{{- end -}}
